@model IEnumerable<QLBH_MCDONALDS.Models.ChiTietHoaDon>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Public/css/jquery.dataTables.min.css" />
}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#myTable');
    </script>
    <script>
        function printdiv(elem) {
            var header_str = '<html><head><title>' + document.title + '</title></head><body>';
            var footer_str = '</body></html>';
            var new_str = document.getElementById(elem).innerHTML;
            var old_str = document.body.innerHTML;
            document.body.innerHTML = header_str + new_str + footer_str;
            window.print();
            document.body.innerHTML = old_str;
            return false;
        }
    </script>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">Danh sách đơn đặt hàng</strong>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Ngày tạo</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GroupBy(x => new { x.MaHoaDon, x.HoaDon.NgayLapHD, x.HoaDon.TrangThai }))
                    {
                        <tr>
                            <td>@item.Key.MaHoaDon</td>
                            <td>@item.Key.NgayLapHD</td>
                            <td>@(((int)item.Sum(g=>g.SoLuongSP*g.SanPham.Gia)).ToString("N0"))</td>
                            <td>
                                @if (item.Key.TrangThai == 1)
                                {
                                    <span class="btn-sm btn-success rounded-pill">Hoàn thành</span>
                                }
                                else
                                {
                                    <span class="btn-sm btn-warning rounded-pill">Đang xử lý</span>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Index", "HoaDon", new { id = item.Key.MaHoaDon })" class="btn-sm btn-primary"><i class="fa fa-eye"></i></a>
                                <a data-toggle="modal" data-target="#delete_@item.Key.MaHoaDon" class="btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                <!-- Modal -->
                                <div class="modal fade" id="delete_@item.Key.MaHoaDon" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete this?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                @using (Html.BeginForm("DeleteConfirmed", "HoaDon", new { id = item.Key.MaHoaDon }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div> <!-- /.card-footer-->
    </div><!-- /.card -->
</section><!-- /.content -->

@if (ViewBag.show == true)
{
    @Html.Partial("_ModalDetail")
}
