@model QLBH_MCDONALDS.Models.ChiTietDonNhapHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietDonNhapHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuongNguyenLieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongNguyenLieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonNhapHang.MaNCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonNhapHang.MaNCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguyenLieu.TenNL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguyenLieu.TenNL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
