
@{
    int sum = 0;
}

<div class="col-md-12 ">
    <!--REVIEW ORDER-->
    <div class="panel panel-default">
        <div class="panel-heading text-center text-white">
            <h4>Đơn hàng</h4>
        </div>
        <div class="panel-body" style="background: white;">
            <table class="table border" style="height: 50vh; overflow-y: scroll;">
                <thead>
                    <tr>
                        <td class="text-center">Sản phẩm</td>
                        <td class="text-center">Giá tiền</td>
                        <td class="text-center">Số lượng</td>
                        <td class="text-right">Thành tiền</td>
                        <td class="text-right">   </td>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["listOrdered"] != null && ViewData["listOrdered"] is IEnumerable<QLBH_MCDONALDS.Models.Donhang>)
                    {
                        foreach (var item in ViewData["listOrdered"] as IEnumerable<QLBH_MCDONALDS.Models.Donhang>)
                        {
                            decimal itemTotal = item.soluong * item.gia; // Tính tổng tiền của sản phẩm hiện tại

                            <tr>
                                <td class="text-center">@item.san_pham</td>
                                <td class="text-center">@item.gia VNĐ</td>
                                <td class="text-center">@item.soluong</td>
                                <td class="text-right">@itemTotal VND</td>
                                <td>
                                    <a href="@Url.Action("Delete_sp", "POS", new { MaSp = item.ma_san_pham })" class="btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                </td>

                            </tr>
                            sum += (int)itemTotal;
                        }
                    }

                </tbody>
            </table>
            
            <div class="col-md-12 text-right">
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                }
                <strong>Tổng tiền</strong>
                <div class="pull-right"><span>@sum VND </span></div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input name="submit" value="order" hidden />
                <button type="submit" class="btn btn-primary rounded-0 btn-lg btn-block">Đặt hàng</button>
            }

        </div>

    </div>
    <!--REVIEW ORDER END-->
</div>
